{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}ثبت ‌نام{% endblock %}

{% block content %}
    <div class="account-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="account-card">
                        <div class="account-card-header py-3 text-center">
                            <h4><i class="fas fa-user-plus me-2"></i>ثبت‌نام جدید</h4>
                        </div>
                        <div class="card-body p-4">
                            <form method="post" class="mt-3">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.phone_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success w-100 mt-3">
                                    <i class="fas fa-user-check me-2"></i>تکمیل ثبت ‌نام
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}